<section class="content__slider">
	test slider twig
	<div class="sliders js-sliders">
		{% for slider in sliders %}
			<div class="slider">
				<div class="slider__block {{ slider.block_class }}">
					<img class="slider__img" src="{{ slider.image_url }}">
					<div class="{{ slider.red_class }}"></div>
					<div class="{{ slider.orange_class }}"></div>
					<div class="{{ slider.icon_class }}"></div>
				</div>
				{% if slider.text %}
					<div class="slider__text {{ slider.text_class }}">
						<h2>{{ slider.text.title }}</h2>
						<a href="{{ slider.text.link }}" class="slider__button">{{ slider.text.button }}</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>
